DELHIVERY_ENV=staging
DELHIVERY_API_TOKEN=
DELHIVERY_WEBHOOK_AUTH_HEADER=X-Tel-Aqua-Webhook-Token
DELHIVERY_WEBHOOK_AUTH_VALUE=f96a56242e079e9964ade5c12de606abfb5810f252774c273d0cb7ef780634c4
DELHIVERY_WEBHOOK_ALLOWED_IPS=
DELHIVERY_STAGING_PINCODE_URL=
DELHIVERY_STAGING_TAT_URL=
DELHIVERY_STAGING_WAYBILL_URL=
DELHIVERY_STAGING_RATE_URL=
DELHIVERY_STAGING_WAREHOUSE_CREATE_URL=
DELHIVERY_STAGING_SHIPMENT_CREATE_URL=
DELHIVERY_STAGING_SHIPMENT_UPDATE_URL=
DELHIVERY_STAGING_TRACKING_URL=
DELHIVERY_STAGING_LABEL_URL=
DELHIVERY_STAGING_PICKUP_URL=
DELHIVERY_STAGING_NDR_URL=
DELHIVERY_PRODUCTION_PINCODE_URL=
DELHIVERY_PRODUCTION_TAT_URL=
DELHIVERY_PRODUCTION_WAYBILL_URL=
DELHIVERY_PRODUCTION_RATE_URL=
DELHIVERY_PRODUCTION_WAREHOUSE_CREATE_URL=
DELHIVERY_PRODUCTION_SHIPMENT_CREATE_URL=
DELHIVERY_PRODUCTION_SHIPMENT_UPDATE_URL=
DELHIVERY_PRODUCTION_TRACKING_URL=
DELHIVERY_PRODUCTION_LABEL_URL=
DELHIVERY_PRODUCTION_PICKUP_URL=
DELHIVERY_PRODUCTION_NDR_URL=
TELAQUA_WAREHOUSE_NAME=
TELAQUA_WAREHOUSE_ADDRESS=
TELAQUA_WAREHOUSE_CITY=
TELAQUA_WAREHOUSE_STATE=
TELAQUA_WAREHOUSE_PINCODE=
TELAQUA_WAREHOUSE_PHONE=
TELAQUA_PRODUCT_NAME=
TELAQUA_PRODUCT_WEIGHT_GM=300
TELAQUA_PRODUCT_LENGTH_CM=15
TELAQUA_PRODUCT_WIDTH_CM=10
TELAQUA_PRODUCT_HEIGHT_CM=5
TELAQUA_BUSINESS_NAME=
DELHIVERY_TRACKING_SYNC_ENABLED=false
DELHIVERY_TRACKING_SYNC_MINUTES=30
