DELHIVERY_ENV=staging
DELHIVERY_API_TOKEN=
DELHIVERY_STAGING_PINCODE_URL=
DELHIVERY_STAGING_TAT_URL=
DELHIVERY_STAGING_WAYBILL_URL=
DELHIVERY_STAGING_RATE_URL=
DELHIVERY_STAGING_WAREHOUSE_CREATE_URL=
DELHIVERY_STAGING_SHIPMENT_CREATE_URL=
DELHIVERY_STAGING_SHIPMENT_UPDATE_URL=
DELHIVERY_STAGING_TRACKING_URL=
DELHIVERY_STAGING_LABEL_URL=
DELHIVERY_STAGING_PICKUP_URL=
DELHIVERY_STAGING_NDR_URL=
DELHIVERY_PRODUCTION_PINCODE_URL=
DELHIVERY_PRODUCTION_TAT_URL=
DELHIVERY_PRODUCTION_WAYBILL_URL=
DELHIVERY_PRODUCTION_RATE_URL=
DELHIVERY_PRODUCTION_WAREHOUSE_CREATE_URL=
DELHIVERY_PRODUCTION_SHIPMENT_CREATE_URL=
DELHIVERY_PRODUCTION_SHIPMENT_UPDATE_URL=
DELHIVERY_PRODUCTION_TRACKING_URL=
DELHIVERY_PRODUCTION_LABEL_URL=
DELHIVERY_PRODUCTION_PICKUP_URL=
DELHIVERY_PRODUCTION_NDR_URL=
TELAQUA_WAREHOUSE_NAME=
TELAQUA_WAREHOUSE_ADDRESS=
TELAQUA_WAREHOUSE_CITY=
TELAQUA_WAREHOUSE_STATE=
TELAQUA_WAREHOUSE_PINCODE=
TELAQUA_WAREHOUSE_PHONE=
TELAQUA_PRODUCT_NAME=
TELAQUA_PRODUCT_WEIGHT_GM=300
DELHIVERY_TRACKING_SYNC_ENABLED=false
DELHIVERY_TRACKING_SYNC_MINUTES=30
